{% extends "_layout.twig" %}

{% block style %}
    <style>
        .jumbotron.profile-banner {
            background-image: url('{{ banner_picture }}');
        }

        .page {
            background: {{ data.customization.background_color }};
            font-family: {{ data.customization.font | raw }};
        }

        .page a {
            color: {{ data.customization.link_color }}
        }

        /* Highlight box */
        .content-header.highlight-box {
            background-color: {{ data.customization.basic_box_border_color }};
            color: #ffffff;
        }
        .content-box.highlight-box {
            background-color: {{ data.customization.highlight_box_background_color }};
            border-color: {{ data.customization.basic_box_border_color }};
            color: {{ data.customization.highlight_box_text_color }};
        }

        /* Basic box */
        .content-header.basic-box {
            background-color: {{ data.customization.basic_box_border_color }};
            color: #ffffff;
        }
        .content-box.basic-box {
            background-color: {{ data.customization.basic_box_background_color }};
            border-color: {{ data.customization.basic_box_border_color }};
            color: {{ data.customization.basic_box_text_color }};
        }
    </style>
{% endblock %}

{% block precontent %}
    <div class="jumbotron profile-banner"></div>
{% endblock %}

{% block content %}{% endblock %}