{% extends "_layout_admin.twig" %}

{% if search %}
    {% set le_url = '?page=%s&amount=' ~ amount  ~ "&search=" ~ search %}
{% else %}
    {% set le_url = '?page=%s&amount=' ~ amount %}
{% endif %}

{% set title = "Users" %}

	{% block admincontent %}
        {% set total_pages = (data.count / amount) | round(0, 'ceil') %}
        {% set current_page = page %}

        <div class="form-flex">
            <form action="/admin/users/" method="GET" id="num_change">
                <select name="amount" onchange="this.form.submit()" style="height:30px;">
                    {% for option in [8, 16, 32, 64, 128, 256] %}
                        <option value="{{ option }}" {{ amount == option ? 'selected' }}>{{ option }}</option>
                    {% endfor %}
                </select>
            </form>

            <form method="GET" action="/admin/users/" style="margin-left: auto;">
                <input type="hidden" name="amount" value="{{ amount }}">
                <input type="text" name="search" value="{{ search }}" placeholder="{{ localize('search') }}...">
                <button type="submit" class="button button-secondary">{{ localize('search') }}</button>
            </form>
        </div>
        <hr>
        {% for user in users %}
            <div class="content-entry">
                <div class="content-image profile-picture">
                    <a href="/user/{{ user.info.username }}">
                        <img src="{{ profile_picture_admin(user.info.username) }}" alt="{{ user.info.username }}" class="pfp">
                    </a>
                </div>
                <div class="content-info">
                    <div class="content-title">
                        {{ user_link(user) }}
                    </div>
                    <div class="content-description">
                        <div>
                            {{ user.submissions }} uploads · {{ user.journals }} journals
                        </div>
                        <div>
                            Power level:
                            {% if user.powerlevel == 1 %}
                                User
                            {% elseif user.powerlevel == 2 %}
                                Moderator
                            {% elseif user.powerlevel == 3 %}
                                Admin
                            {% else %}
                                Owner
                            {% endif %}
                        </div>
                        <div>
                            Joined: {{ user.info.joined | relative_time() }}
                        </div>
                        <div>
                            Last login: {{ user.info.joined | relative_time() }}
                        </div>
                    </div>
                    <div>
                        <a class="button button-secondary" href="/admin/users/{{ user.info.username }}">
                            Check
                        </a>
                        {% if user.powerlevel <= 1 %}
                            {% if user.banned %}
                                <form id="banForm" method="post" action="/admin/users/{{ user.info.username }}" enctype="multipart/form-data">
                                    <button name="ban_user" value="{{ user.info.username }}" class="button button-warning" onclick="if (!confirm('Are you sure you want to unban this user?')) { return false }">Unban</button>
                                </form>
                            {% else %}
                                <form id="banForm" method="post" action="/admin/users/{{ user.info.username }}" enctype="multipart/form-data">
                                    <button name="ban_user" value="{{ user.info.username }}" class="button button-danger" onclick="if (!confirm('Are you sure you want to ban this user?')) { return false }">Ban</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {{ pagination(count, amount, le_url, current_page) }}
    {% endblock %}