{% extends "_layout.twig" %}

{% set title = "Whoooo! Charla!" %}

{% block precontent %}
    {% if current_theme == "default" %}
        <div class="jumbotron page-banner">
            <div class="jumbotron-container">
                <h1>{{ title }}</h1>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div style="margin-bottom: 1rem;">
        {% for color in color_types %}
            <div class="banner banner-{{ color }}">
            <span class="notification-text">
                This is a {{ color }} banner. You may go back to the homepage <a href="/">here</a>.
            </span>
            </div>
        {% endfor %}
    </div>

    <div style="margin-bottom: 1rem;">
        {% for color in color_types %}
            <div class="button button-{{ color }} button-small">small {{ color }} button!</div>
        {% endfor %}
    </div>

    <div style="margin-bottom: 1rem;">
        {% for color in color_types %}
            <div class="button button-{{ color }}">{{ color }} button!</div>
        {% endfor %}
    </div>

    <div style="margin-bottom: 1rem;">
        {% for color in color_types %}
            <div class="button button-{{ color }} button-big">big {{ color }} button!</div>
        {% endfor %}
    </div>

    <div style="margin-bottom: 1rem;">
        {% for color in color_types %}
            <div class="button button-{{ color }} button-huge">huge {{ color }} button!</div>
        {% endfor %}
    </div>

    <div style="margin-bottom: 1rem;">
        <div>Null relative time: {{ "0" | relative_time() }}</div>
        <div>Unix epoch relative time: {{ "1" | relative_time() }}</div>
        <div>Right now relative time: {{ 'now'| date('U') | relative_time() }}</div>
    </div>
{% endblock %}