{% extends "_layout.twig" %}

{% if is_user_logged_in %}
    {% set jumbotronClassName = "homepage-logged-in" %}

    {% if user_stat_data.followers != 1 %}
        {% set pluralSubscribers = "s" %}
    {% endif %}

    {% if user_stat_data.views != 1 %}
        {% set pluralViews = "s" %}
    {% endif %}
{% else %}
    {% set jumbotronClassName = "homepage-logged-out" %}
{% endif %}

{% if not data.submissions and not data.submission_new and not data.news_recent %}
    {% set empty_instance = true %}
{% endif %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" integrity="sha256-FZsW7H2V5X9TGinSjjwYJ419Xka27I8XPDmWryGlWtw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" integrity="sha256-5uKiXEwbaQh9cgd2/5Vp6WmMnsUr3VZZw0a8rKnOKNU=" crossorigin="anonymous">
    <script>
        document.addEventListener( 'DOMContentLoaded', function() {
            var elms = document.getElementsByClassName( 'splide' );

            for ( var i = 0; i < elms.length; i++ ) {
                new Splide( elms[ i ], {
                    perPage: 4,
                    rewind: true,
                    pagination: false,
                    breakpoints: {
                        1249 : { perPage: 3 },
                        899 : { perPage: 2 },
                    },
                } ).mount();
            }
        } );
    </script>
{% endblock %}

{% block precontent %}
    <div class="jumbotron page-banner homepage">
        <div class="jumbotron-container {{ jumbotronClassName }}">
            <div class="jumbotron-welcome">
                {% if is_user_logged_in %}
                    <div class="profile-picture">
                        <img src="{{ profile_picture(user_data.name) }}" class="pfp" alt="{{ user_data.name }}">
                    </div>
                    <div class="jumbotron-logged-in-text">
                        <h1>{{ localize('welcome_logged_in', user_data.title) }}</h1>
                        <div>@{{ user_data.name }} • {{ user_stat_data.followers }} follower{{ pluralSubscribers }}
                            • {{  user_stat_data.views }} view{{ pluralViews }}</div>
                    </div>
                {% else %}
                    <h1>{{ localize('welcome_logged_out', website_branding.name) }}</h1>
                    {% if is_chaziz_sb %}
                        <p>Your content, your narration, your niche on the web.</p>
                    {% endif %}
                    <div class="jumbotron-get-started">
                        <a href="/register" class="button button-warning">Get started</a>
                        <span>← It's free!</span>
                    </div>
                {% endif %}
            </div>
            <div class="jumbotron-right-container">
                <div class="jumbotron-right-date">
                    {{ "now"|date("F jS Y") }}
                </div>
            </div>
        </div>
    </div>
    {% if not empty_instance %}
    <div class="navigation-bar">
        <a class="navigation-bar-button {% if type=='list' %}active{% endif %}" id="index-list-button">
            <div class="biscuit-icon homepage-list size-24"></div>
            {{ localize("list") }}
        </a>
        <a class="navigation-bar-button {% if type=='grid' %}active{% endif %}" id="index-grid-button">
            <div class="biscuit-icon homepage-grid size-24"></div>
            {{ localize("grid") }}
        </a>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if empty_instance %}
        <div class="banner banner-secondary">
            This instance is currently empty.
        </div>
    {% else %}
        {% if type == "grid" %}
            {{ include('/components/_index_grid.twig') }}
        {% else %}
            {{ include('/components/_index_list.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
