{% extends "_layout.twig" %}

{% if is_user_logged_in %}
    {% set followers = data.totals.followers ?? "no" %}
    {% set views = data.totals.views ?? "no" %}
    {% set followersText = followers == 0 ? "no" : followers %}
    {% set viewsText = views == 0 ? "no" : views %}

    {% set jumbotronClassName = "homepage-logged-in" %}

    {% if followersText != 1 %}
        {% set pluralSubscribers = "s" %}
    {% endif %}

    {% if viewsText != 1 %}
        {% set pluralViews = "s" %}
    {% endif %}
{% else %}
    {% set jumbotronClassName = "homepage-logged-out" %}
{% endif %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" integrity="sha256-FZsW7H2V5X9TGinSjjwYJ419Xka27I8XPDmWryGlWtw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" integrity="sha256-5uKiXEwbaQh9cgd2/5Vp6WmMnsUr3VZZw0a8rKnOKNU=" crossorigin="anonymous">
    <script>
        document.addEventListener( 'DOMContentLoaded', function() {
            var elms = document.getElementsByClassName( 'splide' );

            for ( var i = 0; i < elms.length; i++ ) {
                new Splide( elms[ i ], {
                    perPage: 4,
                    rewind: true,
                    pagination: false,
                    breakpoints: {
                        1249 : { perPage: 3 },
                        899 : { perPage: 2 },
                    },
                } ).mount();
            }
        } );
    </script>
{% endblock %}

{% block precontent %}
    {% if options.charla_2025_ui %}
        <div class="navigation-bar">
            <a class="navigation-bar-button {% if type=='list' %}active{% endif %}" id="index-list-button">
                <div class="biscuit-icon homepage-list {% if type=='grid' %}active{% endif %} size-24"></div>
                List
            </a>
            <a class="navigation-bar-button {% if type=='grid' %}active{% endif %}" id="index-grid-button">
                <div class="biscuit-icon homepage-grid {% if type=='grid' %}active{% endif %} size-24"></div>
                Grid
            </a>
        </div>
    {% else %}
        <div class="jumbotron page-banner homepage">
            <div class="jumbotron-container {{ jumbotronClassName }}">
                <div class="jumbotron-welcome">
                    {% if is_user_logged_in %}
                        <div class="profile-picture">
                            <img src="{{ profile_picture(user_data.name) }}" class="pfp" alt="{{ user_data.name }}">
                        </div>
                        <div class="jumbotron-logged-in-text">
                            <h1>{{ localize('welcome_logged_in', user_data.title) }}</h1>
                            <div>@{{ user_data.name }} • {{ followersText }} follower{{ pluralSubscribers }}
                                • {{ viewsText }} view{{ pluralViews }}</div>
                        </div>
                    {% else %}
                        <h1>{{ localize('welcome_logged_out', website_branding.name) }}</h1>
                        {% if is_chaziz_sb %}
                            <p>Your content, your narration, your niche on the web.</p>
                        {% endif %}
                        <a href="/register" class="button button-warning button-get-started">Get started ›</a>
                    {% endif %}
                </div>
                <div class="jumbotron-right-container">
                    <div class="jumbotron-right-date">
                        {{ "now"|date("F jS Y") }}
                    </div>
                    <div class="jumbotron-right-buttons">
                        <div class="tabs homepage">
                            <div class="tablink homepage {% if type=='list' %}active{% endif %}" id="index-list-button">
                                <div class="biscuit-icon homepage-list {% if type=='list' %}active{% endif %} size-24"></div>
                            </div>
                            <div class="tablink homepage {% if type=='grid' %}active{% endif %}" id="index-grid-button">
                                <div class="biscuit-icon homepage-grid {% if type=='grid' %}active{% endif %} size-24"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if type == "grid" %}
        {{ include('/components/_index_grid.twig') }}
    {% else %}
        {{ include('/components/_index_list.twig') }}
    {% endif %}
{% endblock %}
