{% extends "_layout.twig" %}

{% set title = "Notifications" %}

{% block content %}
    <div class="section">
        <div class="section-header">
            <h1>Notifications</h1>
            {% if 0 %}
            <a href="notices?action=clear_all">Clear all</a>
            {% endif %}
        </div>
        <div class="banner banner-warning">
            <strong>NOTE</strong>: This page is still incomplete.
        </div>
        <div class="content-box">
            {% for notice in data %}
                <div class="content-entry">
                    <div class="content-thumbnail">
                        <div class="content-image profile-picture">
                            <img src="{{ profile_picture(notice.sender.info.username) }}"
                                 alt="{{ notice.sender.info.username }}" class="pfp">
                        </div>
                    </div>
                    <div class="content-info">
                        {{ notice.intro }} {{ user_link(notice.sender) }}
                        <br>
                        {{ notice.detail.info }}
                        <br>
                        <small>
                            {{ notice.time | relative_time }}
                            {% if notice.detail.origin %}on {{ notice.detail.origin }}{% endif %}
                        </small>
                    </div>
                </div>
            {% else %}
            <p>
                You have no notifications.
            </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}