{% extends "_layout_profile_yt2008.twig" %}

{% block content %}
    <div class="grid">
        <div class="col-4">
            <div class="content-header highlight-box">
                <div class="title">
                    {{ data.displayname }}
                </div>
                <button class="button button-secondary button-small">
                    Follow
                </button>
            </div>
            <div class="content-box highlight-box">
                <div class="highlight-intro">
                    <div class="profile-picture">
                        <img src="{{ profile_picture(data.username) }}" class="pfp" alt="{{ data.username }}">
                    </div>
                    <div>
                        <div class="highlight-username">{{ data.username }}</div>
                        <div class="highlight-stat">Joined: <strong>{{ data.joined | date('F d, Y') }}</strong></div>
                        <div class="highlight-stat">Last Login: <strong>{{ data.connected | relative_time() }}</strong></div>
                        <div class="highlight-stat">Followers: <strong>{{ data.followers }}</strong></div>
                    </div>
                </div>
                <div class="highlight-description">
                    {% if data.about | trim is not empty %}
                        {{ data.about | markdown_user_written }}
                    {% endif %}
                </div>
            </div>
            <div class="content-header basic-box">
                Connect with {{ data.username }}
            </div>
            <div class="content-box basic-box">
                Connect
            </div>
            <div class="content-header basic-box">
                Journals
            </div>
            <div class="content-box basic-box">
                Journals
            </div>
        </div>
        <div class="col-8">
            <div class="content-box basic-box">
                Featured Upload
            </div>
            <div class="content-header basic-box">
                Uploads
            </div>
            <div class="content-box basic-box">
                Uploads
            </div>
            <div class="content-header basic-box">
                Comments
            </div>
            <div class="content-box basic-box">
                Comments
            </div>
        </div>
    </div>
{% endblock %}