{% extends "_layout_profile.twig" %}

{% set banner_picture = profile_banner(data.username) %}

{% set title = data.username %}

{% set opengraph_type = "profile" %}
{% set opengraph_username = data.username %}
{% if data.about | trim is not empty %}
    {% set opengraph_description = data.about %}
{% else %}
    {% set opengraph_description = "No description." %}
{% endif %}
{% set opengraph_image = profile_picture(data.username) %}

{% block scripts %}
    <script>
        comment_type = 'profile';
        comment_id = '{{ data.id }}'
        user_id = '{{ data.id }}'
    </script>
{% endblock %}

{% block content %}
    <div class="grid">
        <div class="col-4">
            <div class="section">
                <div class="content-box highlight-box">
                    <div class="profile-box">
                        <div class="profile-box-pfp">
                            <div class="profile-picture">
                                <img src="{{ profile_picture(data.username) }}" class="pfp" alt="{{ data.username }}">
                            </div>
                        </div>
                        <div class="profile-box-info">
                            <div class="profile-box-username">
                                <span style="color:{{ data.color }}">
                                    {% if data.displayname == data.username %}
                                        @{{ data.displayname }}
                                    {% else %}
                                        {{ data.displayname }}
                                    {% endif %}
                                </span>
                                {% if data.is_staff %}
                                    <div class="biscuit-icon size-24 staff"></div>
                                {% endif %}
                            </div>

                            {% if data.displayname != data.username %}
                                <div class="profile-box-handle">
                                    @{{ data.username }}
                                </div>
                            {% endif %}
                            <div class="profile-box-details">
                                <span id="follower_count">{{ data.followers }}</span> followers
                            </div>
                        </div>
                        <div class="profile-box-follow">
                            {% if is_user_logged_in %}
                                {% if not data.is_current %}
                                    <button class="button button-secondary" id="follow-user">
                                        {% if data.following %}
                                            Unfollow
                                        {% else %}
                                            Follow
                                        {% endif %}
                                    </button>
                                {% else %}
                                    <a href="/settings">
                                        Edit
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    {% if data.about | trim is not empty %}
                        {{ data.about | markdown_user_written }}
                        <hr>
                    {% endif %}
                    <ul class="unstyled-list">
                        <li>
                            Joined: {{ data.joined | relative_time() }}
                        </li>
                        <li>
                            Last login: {{ data.connected | relative_time() }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="section">
                {% if data.journals %}
                <div class="content-box basic-box">
                    <div class="section-header flex">
                        <div class="section-header-left">
                            <h2 class="section-title">{{ localize('journals') }}</h2>
                        </div>
                        <div class="section-header-right">
                            <a href="/journals/{{ data.username }}">{{ localize('more') }}</a>
                        </div>
                    </div>
                        {% for journal in data.journals %}
                            {{ include('/components/_journal.twig') }}
                        {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-8">
            {% if data.submissions %}
                <div class="section">
                    <div class="content-box basic-box">
                        <div class="section-header flex">
                            <div class="section-header-left">
                                <h2 class="section-title">{{ localize('uploads') }}</h2>
                            </div>
                            <div class="section-header-right">
                                <a href="/browse?user?{{ data.username }}">{{ localize('more') }}</a>
                            </div>
                        </div>
                        <div class="content-grid">
                            {% for submission in data.submissions %}
                                {{ include('/components/_upload_grid.twig') }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if options.enable_incomplete_features %}
            <div class="section">
                <div class="content-box basic-box">
                    <div class="section-header">
                        <h2 class="section-title">Collections</h2>
                    </div>
                    <div>
                        PLACEHOLDER
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="section">
                <div class="content-box basic-box">
                    <div class="section-header">
                        <h2 class="section-title">{{ localize('comments') }}</h2>
                    </div>
                    {{ include('/components/_comment_input.twig') }}
                    {% for comment in data.comments %}
                        {{ include('/components/_comment.twig') }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}