{% extends "_layout.twig" %}

{% set title = "Account settings" %}

{% block style %}
    <style>
        #settings-banner-preview {
            background-image: url('{{ profile_banner(user_data.name) }}');
        }
    </style>
{% endblock %}

	{% block content %}
        {% if error %}
            <div class="banner banner-danger">{{ error }}</div>
        {% endif %}
        <div class="section">
            <div class="section-header">
                <h1 class="section-title">Account settings</h1>
            </div>
            <div class="content-box">
                <form action="/settings" method="post" enctype="multipart/form-data">
                    <div class="section">
                        <div class="section-header">
                            <h2 class="section-title">Profile</h2>
                        </div>

                        <div id="settings-banner-preview"></div>
                        <div class="content-box no-border-top">
                            <div class="profile-box">
                                <div class="profile-box-pfp">
                                    <div class="profile-picture">
                                        <img src="{{ profile_picture(user_data.name) }}" class="pfp" alt="{{ user_data.name }}">
                                    </div>
                                </div>
                                <div class="profile-box-info">
                                    <div class="profile-box-username">
                                        <span style="color:{{ user_data.customcolor }}" id="settings-display-name">
                                            {{ user_data.title }}
                                        </span>
                                        {% if user_data.powerlevel > 2 %}
                                            <div class="biscuit-icon size-24 staff"></div>
                                        {% endif %}
                                    </div>

                                    <div class="profile-box-handle">
                                        @{{ user_data.name }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-input">
                            <label for="title">Profile name:</label>
                            <input class="form-submit" id="settings-display-name-input" type="text" name="title" maxlength="50" value="{{ user_data.title }}">
                        </div>

                        <div class="form-input">
                            <label for="about">Profile description:</label>
                            <textarea class="form-submit" name="about" rows="4" wrap="hard">{{ user_data.about }}</textarea>
                        </div>

                        <div class="form-input">
                            <label for="profilePicture">Profile picture:</label>
                            <input type="file" name="profilePicture" id="setting-pfp">
                        </div>

                        <div class="form-input">
                            <label for="profileBanner">Profile banner:</label>
                            <input type="file" name="profileBanner" id="settings-banner">
                        </div>

                        {% if is_opensb_v1_3 %}
                            <div class="form-input">
                                <div class="form-input">
                                    <label for="profile-layout">Profile layout:</label>
                                    <select id="profile-layout" name="profile-layout" class="form-submit">
                                        <option value="0">
                                            Default
                                        </option>
                                        <option value="1">
                                            YT Channel 1.0
                                        </option>
                                        <option value="2">
                                            YT Channel 2.0
                                        </option>
                                    </select>
                                </div>
                            </div>
                        {% endif %}

                        <div class="form-input">
                            <label for="customcolor">Username/link color:</label>
                            <input name="customcolor" id="settings-color" type="text" data-coloris value="{{ user_data.customcolor | default('523bb8') }}">
                        </div>
                    </div>

                    <hr>

                    <div class="section">
                        <div class="section-header">
                            <h2 class="section-title">Security</h2>
                        </div>

                        <div class="form-input">
                            <label for="current_pass">Current password:</label>
                            <input class="form-submit" type="password" name="current_pass" size="30" maxlength="256"
                                   placeholder="Current password">
                        </div>

                        <br>
                        <div class="section-header">
                            <h3 class="section-title">Change username</h3>
                        </div>

                        <div class="form-input">
                            <label for="current_pass">New username:</label>
                            <input class="form-submit" type="text" name="new_username" size="30" maxlength="256"
                                   placeholder="New username">
                        </div>

                        <br>
                        <div class="section-header">
                            <h3 class="section-title">Change password</h3>
                        </div>

                        <div class="form-input">
                            <label for="pass">New password:</label>
                            <input class="form-submit" type="password" name="pass" size="30" maxlength="256" placeholder="New password"><br>
                        </div>

                        <div class="form-input">
                            <label for="pass2">Confirm new password:</label>
                            <input class="form-submit" type="password" name="pass2" size="30" maxlength="256"
                                   placeholder="Confirm new password">
                        </div>
                    </div>

                    <hr>

                    <div class="section">
                        <div class="section-header">
                            <h2 class="section-title">Filtering</h2>
                        </div>

                        {% if isUserOver18 %}
                        <div class="form-submit">
                            <input type="checkbox" name="rating" id="rating" value="true"
                                   {% if user_data.comfortable_rating == "mature" %}checked{% endif %}>
                            <label for="rating"> {% if is_opensb_v1_3 %}Enable adult content{% else %}Enable sensitive content{% endif %}</label><br>
                        </div>

                        <div class="form-submit">
                            <input type="checkbox" name="rating" id="rating" value="true">
                            <label for="rating"> Block profile/upload access from people under 18</label><br>
                        </div>
                        {% else %}
                            <div class="text-danger">
                                Based on your account's birthdate, access to mature-rated content is restricted.
                                If you entered an incorrect birthdate, please contact {{ website_branding.name }}
                                administration.
                            </div>
                        {% endif %}

                        <br>

                        <div class="section-header">
                            <h3 class="section-title">Blocked tags</h3>
                        </div>

                        <div class="form-submit">
                            <textarea class="form-submit" name="blacklisted_tags" rows="5" cols="80" wrap="hard">{% for tag in user_data.blacklisted_tags %}{{ tag }},{% endfor %}</textarea>
                        </div>

                        <hr>

                        <div class="form-button-container">
                            <input type="submit" id="upload" name="save" class="button button-primary"
                                   value="Save">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
{% endblock %}