{% extends "_layout.twig" %}

{% set title = "Staff" %}

	{% block content %}
        <div class="section">
        <div class="section-header">
            <h1 class="section-title">{{ website_branding.name }} Staff</h1>
        </div>
        <div class="content-box">
            {% if staff|filter(user => user.level == '4') is not empty %}
                <div class="section">
                    <div class="section-header">
                        <h2 class="section-title">Owners</h2>
                    </div>
                    <div class="content-grid content-grid-users">
                        {% for user in staff|filter(user => user.level == '4') %}
                            <div class="content-entry">
                                <div class="content-thumbnail">
                                    <a href="/user/{{ user.info.username }}">
                                        <div class="content-image profile-picture">
                                            <img src="{{ profile_picture(user.info.username) }}"
                                                 alt="{{ user.info.username }}" class="pfp">
                                        </div>
                                    </a>
                                </div>
                                <div class="content-info">
                                    <div class="content-author">
                                        {{ user_link(user) }}
                                    </div>
                                    <div class="content-description">
                                        Owner
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if staff|filter(user => user.level == '3') is not empty %}
                    <hr>
                {% endif %}
            {% endif %}
            {% if staff|filter(user => user.level == '3') is not empty %}
                <div class="section">
                    <div class="section-header">
                        <h2 class="section-title">Administrators</h2>
                    </div>
                    <div class="content-grid content-grid-users">
                        {% for user in staff|filter(user => user.level == '3') %}
                            <div class="content-entry">
                                <div class="content-thumbnail">
                                    <a href="/user/{{ user.info.username }}">
                                        <div class="content-image profile-picture">
                                            <img src="{{ profile_picture(user.info.username) }}"
                                                 alt="{{ user.info.username }}" class="pfp">
                                        </div>
                                    </a>
                                </div>
                                <div class="content-info">
                                    <div class="content-author">
                                        {{ user_link(user) }}
                                    </div>
                                    <div class="content-description">
                                        Administrator
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if staff|filter(user => user.level == '2') is not empty %}
                    <hr>
                {% endif %}
            {% endif %}
            {% if staff|filter(user => user.level == '2') is not empty %}
                <div class="section">
                    <div class="section-header">
                        <h2 class="section-title">Moderators</h2>
                    </div>
                    <div class="content-grid content-grid-users">
                        {% for user in staff|filter(user => user.level == '2') %}
                            <div class="content-entry">
                                <div class="content-thumbnail">
                                    <a href="/user/{{ user.info.username }}">
                                        <div class="content-image profile-picture">
                                            <img src="{{ profile_picture(user.info.username) }}"
                                                 alt="{{ user.info.username }}" class="pfp">
                                        </div>
                                    </a>
                                </div>
                                <div class="content-info">
                                    <div class="content-author">
                                        {{ user_link(user) }}
                                    </div>
                                    <div class="content-description">
                                        Moderator
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}