{% extends "_layout.twig" %}

{% set title = submission.title %}

{% if submission.description | trim is not empty %}
    {% set opengraph_description = submission.description %}
{% else %}
    {% set opengraph_description = "No description." %}
{% endif %}

{% set opengraph_image = thumbnail(submission.id, submission.type, submission.bools.custom_thumbnail) %}

{% set opengraph_type = "article" %}
{% set opengraph_published = submission.published | date("c") %}
{% set opengraph_author = domain ~ "user/" ~ submission.author.info.username %}
{% set metadata_author = submission.author.info.username %}
{% if submission.type == 0 %}
    {% set opengraph_section = "SquareBracket video" %}
{% elseif submission.type == 2 %}
    {% set opengraph_section = "SquareBracket image" %}
{% endif %}

{% block scripts %}
    {{ include('submission_rating_script.twig') }}

    <script>
        submission_id = '{{ submission.id }}';
        submission_int_id = '{{ submission.int_id }}';
        user_id = '{{ submission.author.id }}';
        comment_type = 'submission';
        comment_id = '{{ submission.id }}';
    </script>
{% endblock %}


{% block content %}
    {% if submission.takedown %}
        <div class="banner banner-secondary">
            This upload was taken down on {{ submission.takedown.sent }} by {{ submission.takedown.takedownee }}
            on {{ submission.takedown.time | date("F j Y, h:i:s A") }}, with the reason: {{ submission.takedown.reason }}
        </div>
    {% endif %}
    {% if submission.author_banned %}
        <div class="banner banner-secondary">
            This upload's author was banned.
        </div>
    {% endif %}
    <div class="grid">
        <div class="col-8">
            <div class="submission">
                {{ submission_view(submission) }}
            </div>
            <div class="watch-box">
                <div class="section">
                    <div class="section-header">
                        <div class="section-header-left">
                            <h1>
                                {% if submission.title %}
                                    {{ submission.title }}
                                {% else %}
                                    No title
                                {% endif %}
                            </h1>
                        </div>
                        {% if submission.is_owner %}
                            <div class="section-header-right">
                                <a href="/edit?v={{ submission.id }}">Edit</a>
                            </div>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="watch-box-row">
                        <div class="watch-box-left">
                            <div class="watch-box-profile-picture profile-picture">
                                <img class="pfp" src="{{ profile_picture(submission.author.info.username) }}">
                            </div>
                            <div class="watch-box-author">
                                <div class="watch-box-author-userlink">
                                    {{ user_link(submission.author) }}
                                </div>
                                <div class="watch-box-author-follow">
                                    {% if not submission.is_owner and is_user_logged_in %}
                                        <button class="button button-secondary" id="follow-user">
                                            {% if submission.author.following %}
                                                Unfollow
                                            {% else %}
                                                Follow
                                            {% endif %}
                                        </button>
                                        <span id="follower_count">{{ submission.author.followers }}</span>
                                    {% else %}
                                        <span>{{ submission.author.followers }} followers</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="watch-box-right">
                            <div id="rater"></div>
                            {#
                            <div><small>{{ submission.interactions.ratings.total }} ratings</small></div>
                            #}
                        </div>
                    </div>
                    <hr>
                    {% if submission.description | trim is not empty %}
                    <div class="watch-box-description">
                            {{ submission.description | markdown_user_journal }}
                    </div>
                    <hr>
                    {% endif %}
                    <div class="watch-box-info">
                        <div class="grid">
                            <div class="col-4">
                                <div class="section">
                                    <div class="section-header">
                                        <h2>Tags</h2>
                                    </div>
                                    {% for tag in submission.tags %}
                                        <a href="/search?query={{ tag.name }}">{{ tag.name }}</a>{{ not loop.last ? ',' }}
                                    {% else %}
                                        No tags.
                                    {% endfor %}
                                    {# TODO:
                                {% if is_user_logged_in %}
                                    <form class="form-flex">
                                        <input type="text" class="form-submit">
                                        <input type="submit" value="Add" class="button button-secondary">
                                    </form>
                                {% endif %}
                                    #}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="section">
                                    <div class="section-header">
                                        <h2>Details</h2>
                                    </div>
                                    <div class="watch-box-info-detail">
                                        <span class="watch-box-info-detail-title">Type:</span>
                                        {% if submission.type == 2 %}
                                            Image
                                        {% elseif submission.type == 3 %}
                                            Music
                                        {% else %}
                                            Video
                                        {% endif %}
                                    </div>
                                    <div class="watch-box-info-detail">
                                        <span class="watch-box-info-detail-title">Rating:</span>
                                        {% if submission.rating == 'mature' %}
                                            Sensitive
                                        {% else %}
                                            General
                                        {% endif %}
                                    </div>
                                    <div class="watch-box-info-detail">
                                        <span class="watch-box-info-detail-title">Uploaded:</span>
                                        {{ submission.published | date('M d Y H:i T') }}
                                    </div>
                                    {% if submission.original_site %}
                                        <div class="watch-box-info-detail">
                                            <span class="watch-box-info-detail-title">Original site:</span>
                                            {{ submission.original_site }}
                                        </div>
                                    {% endif %}
                                    {% if submission.published_originally and submission.original_site %}
                                        <div class="watch-box-info-detail">
                                            <span class="watch-box-info-detail-title">Originally uploaded:</span>
                                            {{ submission.published_originally | date('M d Y') }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="section">
                                    <div class="section-header">
                                        <h2>Stats</h2>
                                    </div>
                                    <div class="watch-box-info-stat">
                                        {% if submission.interactions.views != 1 %}
                                            {% set pluralViews = "s" %}
                                        {% endif %}
                                        <span class="watch-box-info-stat-number">{{ submission.interactions.views }}</span> view{{ pluralViews }}
                                    </div>
                                    <div class="watch-box-info-stat">
                                        {% if submission.interactions.comments != 1 %}
                                            {% set pluralComments = "s" %}
                                        {% endif %}
                                        <span class="watch-box-info-stat-number">{{ submission.interactions.comments }}</span> comment{{ pluralComments }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <br>
            <div class="section">
                <div class="section-header">
                    <h2>Comments</h2>
                </div>
                <div id="comments">
                    <div class="content-box">
                        {{ include('/components/_comment_input.twig') }}
                        <div id="new-comments-here"></div>
                        {% for comment in submission.comments %}
                            {{ include('/components/_comment.twig') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            {% if submission.other_by_author %}
                <div class="section">
                    <div class="section-header">
                        <h2>More by {{ submission.author.info.displayname }}</h2>
                    </div>
                    <div class="content-box related-uploads">
                        {% for submission in submission.other_by_author %}
                            {{ include('/components/_upload_vertical_small.twig') }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if submission.recommended %}
                <div class="section">
                    <div class="section-header">
                        <h2>Related uploads</h2>
                    </div>
                    <div class="content-box related-uploads">
                        {% for submission in submission.recommended %}
                            {{ include('/components/_upload_vertical_small.twig') }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if submission.random %}
                <div class="section">
                    <div class="section-header">
                        <h2>Random uploads</h2>
                    </div>
                    <div class="content-box related-uploads">
                        {% for submission in submission.random %}
                            {{ include('/components/_upload_vertical_small.twig') }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}