<div class="grid">
    <div class="col-8">
        <div class="section">
            <div class="section-header flex">
                {% if is_user_logged_in and options.enable_incomplete_features %}
                    <div class="section-header-left">
                        <h2 class="section-title">{{ localize('following_uploads') }}</h2>
                        <div class="section-desc">{{ localize('following_uploads_desc') }}</div>
                    </div>
                    <div class="section-header-right">
                        <a href="/browse">{{ localize('more') }}</a>
                    </div>
                {% else %}
                    <div class="section-header-left">
                        <h2 class="section-title">{{ localize('random_uploads') }}</h2>
                        <div class="section-desc">{{ localize('random_uploads_desc') }}</div>
                    </div>
                    <div class="section-header-right">
                        <a href="/browse">{{ localize('more') }}</a>
                    </div>
                {% endif %}
            </div>
            {% if is_user_logged_in and options.enable_incomplete_features %}
                <div class="content-box">
                    TODO
                </div>
            {% else %}
                <div class="content-box carousel">
                    <section class="splide" id="splide1" aria-labelledby="carousel-heading">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for submission in data.submissions %}
                                    {{ include('/components/_upload_grid_splide.twig') }}
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                </div>
            {% endif %}
        </div>
        <div class="section">
            <div class="section-header flex">
                <div class="section-header-left">
                    <h2 class="section-title">{{ localize('recent_uploads') }}</h2>
                    <div class="section-desc">{{ localize('recent_uploads_desc') }}</div>
                </div>
                <div class="section-header-right">
                    <a href="/browse">{{ localize('more') }}</a>
                </div>
            </div>
            <div class="content-box">
                {% for submission in data.submissions_new %}
                    {{ include('/components/_upload_vertical.twig') }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="section">
            <div class="section-header flex">
                <div class="section-header-left">
                    <h2 class="section-title">{{ localize('featured_uploads') }}</h2>
                    <div class="section-desc">{{ localize('featured_uploads_desc') }}</div>
                </div>
                <div class="section-header-right">
                    <a href="/browse">{{ localize('more') }}</a>
                </div>
            </div>
            <div class="content-box">
                {% for submission in data.submissions_featured %}
                    {{ include('/components/_upload_vertical_small.twig') }}
                {% endfor %}
            </div>
        </div>
        <div class="section">
            <div class="section-header flex">
                <div class="section-header-left">
                    <h2 class="section-title">{{ localize('site_news') }}</h2>
                    <div class="section-desc">{{ localize('site_news_desc') }}</div>
                </div>
                {% if is_opensb_v1_3 %}
                    <div class="section-header-right">
                        <a href="/journals/news">{{ localize('more') }}</a>
                    </div>
                {% endif %}
            </div>
            <div class="content-box">
                {% for journal in data.news_recent %}
                    {{ include('/components/_journal.twig') }}
                {% else %}
                    <p>No news!</p>
                {% endfor %}
            </div>
        </div>
        {% if options.enable_incomplete_features %}
            <div class="section">
                <div class="section-header flex">
                    <div class="section-header-left">
                        <h2 class="section-title">{{ localize('recent_members') }}</h2>
                        <div class="section-desc">{{ localize('recent_members_desc') }}</div>
                    </div>
                    <div class="section-header-right">
                        <a href="/users">{{ localize('more') }}</a>
                    </div>
                </div>
                <div class="content-box">
                    TODO
                </div>
            </div>
        {% endif %}
    </div>
</div>
