<div class="section">
    <div class="section-header flex">
        <div class="section-header-left">
            <h2 class="section-title">{{ localize('random_uploads') }}</h2>
            <div class="section-desc">{{ localize('random_uploads_desc') }}</div>
        </div>
        <div class="section-header-right">
            <a href="/browse">{{ localize('more') }}</a>
        </div>
    </div>
    <div class="content-box content-grid">
        {% for submission in data.submissions %}
            {{ include('/components/_upload_grid.twig') }}
        {% endfor %}
    </div>
</div>

<div class="section">
    <div class="section-header flex">
        <div class="section-header-left">
            <h2 class="section-title">{{ localize('recent_uploads') }}</h2>
            <div class="section-desc">{{ localize('recent_uploads_desc') }}</div>
        </div>
        <div class="section-header-right">
            <a href="/browse">{{ localize('more') }}</a>
        </div>
    </div>
    <div class="content-box content-grid">
        {% for submission in data.submissions_new %}
            {{ include('/components/_upload_grid.twig') }}
        {% endfor %}
    </div>
</div>

<div class="section">
    <div class="section-header flex">
        <div class="section-header-left">
            <h2 class="section-title">{{ localize('site_news') }}</h2>
            <div class="section-desc">{{ localize('site_news_desc') }}</div>
        </div>
        {% if is_opensb_v1_3 %}
            <div class="section-header-right">
                <a href="/journals/news">{{ localize('more') }}</a>
            </div>
        {% endif %}
    </div>
    <div class="content-box">
        {% for journal in data.news_recent %}
            {{ include('/components/_journal.twig') }}
        {% else %}
            No news!
        {% endfor %}
    </div>
</div>