{% if submission.views != 1 %}
    {% set pluralViews = "s" %}
{% endif %}

{% if submission.type == 0 %}
    {% set type = "Video" %}
{% elseif submission.type == 2 %}
    {% set type = "Image" %}
{% else %}
    {% set type = "Unknown" %}
{% endif %}

<div class="content-entry">
    <div class="content-thumbnail">
        <a href="/view/{{ submission.id }}">
            <img src="{{ thumbnail(submission.id, submission.type, submission.bools.custom_thumbnail) }}"
                 alt="{{ submission.title }}" class="content-image thumbnail">
        </a>
    </div>
    <div class="content-info">
        <div class="content-title-upload">
            <a href="/view/{{ submission.id }}" class="content-title-link">
                {% if submission.title|trim is not empty %}
                    {{ submission.title }}
                {% else %}
                    No title
                {% endif %}
            </a>
            <div class="content-rating">
                {{ show_ratings(submission.interactions.ratings) }}
            </div>
        </div>
        <div class="content-description">
            By {{ user_link(submission.author) }}
            <br>
            {{ submission.views }} view{{ pluralViews }} • {{ submission.published | relative_time }} • {{ type }}
            <br>
            {% if submission.description|trim is not empty %}
                <span>{{ submission.description }}</span>
                <br>
            {% endif %}
            <div>{{ convert_time(submission.length) }}</div>
        </div>
    </div>
</div>