<footer class="footer">
    <div class="footer-container">
        <div>
            <span>{{ localize('powered_by') }} <a href="/version">OpenSB {{ opensb_version }}</a></span>
        </div>
        <span><a href="/theme">{{ localize('change_theme') }}</a></span>
        <span><a href="/help">{{ localize('help') }}</a></span>
        <span><a href="/guidelines">{{ localize('community_guidelines') }}</a></span>
        <span><a href="/tos">{{ localize('terms_of_service') }}</a></span>
        <span><a href="/privacy">{{ localize('privacy_policy') }}</a></span>
        <span><a href="/staff">{{ localize('staff') }}</a></span>
        {% if is_debug %}
            <div>
                {{ profiler_stats() }}
            </div>
        {% endif %}
        <div class="footer-copyright">
            <span>{{ localize('footer_copyright', '2021-' ~ ('now' | date('Y'))) }}</span>
        </div>
        {% if is_debug %}
            <div>
                <a class="button button-danger button-small" title="Spicy!" id="debug-button">Debug</a>
            </div>
        {% endif %}
    </div>
</footer>