{% if is_fulptube %}
    {% if current_theme == "dark" %}
        {% set logo = '/assets/sb_branding/fulp/logo-wordmark-dark.png' %}
    {% else %}
        {% set logo = '/assets/sb_branding/fulp/logo-wordmark.png' %}
    {% endif %}
{% else %}
    {% set logo = website_branding.assets_location ~ '/logo.png' %}
{% endif %}
<div class="headers">
    <div class="header">
        <div class="header-container">
            <div class="header-button">
                <div class="button button-secondary button-hamburger invisible" id="button-hamburger">
                    <i class="biscuit-icon hamburger size-32"></i>
                </div>
            </div>
            <div class="header-logo">
                <a href="/">
                    <img alt="{{ website_branding.name }}" class="logo" src="{{ logo }}">
                </a>
            </div>
            <form class="header-search" action="/search">
                <input id="header-search-input" type="text" name="query" placeholder="{{ localize('search') }}...">
                <button id="header-search-button">
                    <i class="biscuit-icon search"></i>
                </button>
            </form>
            <div class="header-links">
                {% if is_user_logged_in %}
                    <a class="menulink" href="/notices">
                        <i class="bi bi-bell"></i>
                        {{ user_notice_data }}
                    </a>
                    <div class="user-menu-container">
                        <div class="menu-button user-menu-button" data-menu-id="user-menu">
                            <img src="{{ profile_picture(user_data.name) }}" class="user-menu-pfp pfp" alt="{{ user_data.name }}">
                            <div class="menu-caret-container user-menu-caret-container">
                                <i class="bi bi-caret-down-fill menu-caret"></i>
                            </div>
                        </div>
                        <div class="menu" id="user-menu">
                            {% for link in header_user_links() %}
                                <a class="menu-item-button" href="{{ link.url }}">{{ link.name }}</a>
                            {% endfor %}
                            <hr>
                            {% for link in header_user_account_links() %}
                                <a class="menu-item-button" href="/login/{{ link.username }}">
                                    <img src="{{ profile_picture(link.username) }}" class="menu-item-profile-picture pfp" alt="{{ link.username }}">
                                    <span>{{ link.username }}</span>
                                </a>
                            {% endfor %}
                            <a class="menu-item-button small" href="/login"><span>Add another account</span></a>
                        </div>
                    </div>
                {% else %}
                    {% for link in header_user_links() %}
                        <a class="menulink" href="{{ link.url }}">{{ link.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="hamburger" id="hamburger">
    <ul class="hamburger-list">
        {% for link in header_main_links() %}
            <li class="hamburger-link"><a href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
    </ul>
</div>